[user]
	#SECRET!
[http]
	proxy = http://127.0.0.1:19198
	sslverify = false
[gpg]
	program = C:\\cygwin64\\bin\\gpg.exe
[commit]
	gpgsign = true
[core]
	autocrlf = true
	filemode = false
	eol = lf
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
